@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 3px solid #ccc; /* Rahmenstil anpassen, wie gewünscht */
  border-radius: 8px; /* Runde Ecken anpassen, wie gewünscht */
  margin: 16px 0;
}